[Desktop Entry]
Type=Application
Name=TA Engine
GenericName=Real-Time Strategy
Comment=Clean-room engine recreation of Total Annihilation: Kingdoms
Exec=taclient
Icon=ta-client
Terminal=false
Categories=Game;StrategyGame;
