[Desktop Entry]
Type=Application
Name=TAK Server
GenericName=Dedicated Server
Comment=Dedicated server for the TAK engine
Exec=taserver
Icon=ta-server
Terminal=true
Categories=Game;
